/.checkers
/.rds_delta
/.sdk_delta.info
/.sign
/.settings
/crash-info/
/res/res.xml
/vlc/
/Debug/
/Release/
/lib/*.so*
/lib/*.a
/emotion/
/libvlcpp/
/medialibrary/
*.tmp
*~
res/edje/*.edj
.package-stamp
.cproject